$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $medium-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);
