---
layout: default
---

<div class="category">
  <h1 class="category-title">{{ page.title }}</h1>
  {{ content }}
</div>

<div class="row">
  {% for cat in site.categories %}
  <!-- <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size }} | plus: 70%"> -->
  <!--       <a href="/{{ tag | first | slugize }}/"> -->
  <!--           {{ tag | first }} -->
  <!--       </a> -->
  <!--   </li> -->

  <!-- <a href="/{{ tag | first | slugize }}/"> -->
  <!--   {{ tag | first }} -->
  <!-- </a> -->

  {% assign c = cat | first %}
  {% assign posts = cat | last %}

  <h3><i class = "fa fa-inbox"></i><a name="{{ c }}"></a>&emsp;{{ c | downcase }}</h3>
  <ul>
    {% for post in posts %}
    {% if post.categories contains c %}
    <li>
      <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  {% endfor %}
</div>
