---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
{% if page.subtitle != null %}
<h2 class="post-title">{{ page.subtitle }}</h2>
{% endif %}

<div class="row">
  <div class="large-9 small-12 columns">
    {{ content }}
  </div>
  <div class="large-3 small-12 columns">
    <div class="row">
      <i class="fa fa-calendar"></i>&ensp;{{ page.date | date_to_string }}
    </div>
    {% if page.categories %}
    <div class="row">
      <i class="fa fa-inbox"></i>
      {% for cat in page.categories %}
      {% if forloop.last != true %}
      <a href="{{ site.baseurl }}blog/categories#{{ cat }}" title="View posts with category &quot;{{ cat }}&quot;">{{ cat }}</a>,
      {% else %}
      <a href="{{ site.baseurl }}blog/categories#{{ cat }}" title="View posts with category &quot;{{ cat }}&quot;">{{ cat }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    <div class="row">
      <i class="fa fa-tags"></i>
      {% for tag in page.tags %}
      {% if forloop.last != true %}
      <a href="{{ site.baseurl }}blog/archive#{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>,
      {% else %}
      <a href="{{ site.baseurl }}blog/archive#{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <p class="quiet copyright left"> <a href="https://twitter.com/share" class="twitter-share-button" data-via="stephenelane" data-size="small"></a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">
    {% include comments.html %}
  </div>
</div>
